* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: linear-gradient(to bottom, #002121, #005353);
    background-attachment: fixed;
    color: #c6f1f1;
}

header {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b2d8d8;
    background: transparent;
}

header.hidden {
    top: -100px;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.home-nav ul {
    list-style: none;
    
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #b2d8d8;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right:15px;
    background-color: #002121;
    width: auto;
    z-index: 999;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    color: #b2d8d8;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.dropdown-menu li:hover {
    background-color:#376e6e;
}

@media (max-width: 1024px) {
    .left-nav {
        display: none;
    }

    .right-nav {
        display: none;
    }

    .logo {
        position: static;
        transform: none;
        margin-right: auto;
    }

    .hamburger-menu {
        display: flex;
    }

    .dropdown-menu.show {
        display: block;
    }
    .home h2, .home-content h1 {
        margin-bottom: 20px;
    }
    
    .home h2 {
        font-size: 24px;
    }
    
    .home-content h1 {
        font-size: 2.0em;
    }
}
@media (max-width:812px){
    .home h2, .home-content h1 {
        margin-bottom: 20px;
    }
    
    .home h2 {
        font-size: 24px;
    }
    
    .home-content h1 {
        font-size: 1.3em;
    }
}
@media (max-width:540px){
    .home h2, .home-content h1 {
        margin-bottom: 15px;
    }
    
    .home h2 {
        font-size: 18px;
    }
    
    .home-content h1 {
        font-size: 0.8em;
    }
}
@media (min-width: 1025px) {
    .hamburger-menu {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }
    .left-nav{
        display: flex;
        width:400px;
        padding-right: 15px;
    }
    .right-nav {
        display: flex;
        justify-content: flex-end;
    }
    
    .left-nav, .right-nav {
        justify-content: space-between;
    }
    
    .left-nav li:hover, .right-nav li:hover {
        color: #b8ffff;
    }
    
    .left-nav li a, .right-nav li a {
        text-decoration: none;
        font-weight: bold;
        color: inherit;
    }
    
    .left-nav li a:hover, .right-nav li a:hover {
        color: #b8ffff;
    }
    
    .right-nav li svg {
        width: 32px;
        height: 32px;
        padding-right: 10px;
    }
    .home h2, .home-content h1 {
        margin-bottom: 20px;
    }
    
    .home h2 {
        font-size: 36px;
    }
    
    .home-content h1 {
        font-size: 2.5em;
    }
}



.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 15px 40px;
    background: #002121;
    color:  #b2d8d8;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background: #005353;
    box-shadow: 0 0 10px 0 #b2d8d8;
}



.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.homescreen {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
@media (max-width:685px){
    .services-screen{
        display:none;
    }
    .sm-services{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .services-heading{
        font-weight: 300;
        font-size: 2rem;
        color: #b2d8d8;
        text-align: left; 
        padding:10px 20px;
    }
    .one,.two,.three,.four,.five,.six,.seven{
        margin:10px;
        width: 150px;
        height: 150px;
        background-size: 100px 100px;
        border-radius: 10px;
        border: 1px solid #376e6e;
        box-shadow: 0 0 10px 0 #b2d8d8;
        opacity: 1;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-color:#005353;
        cursor: pointer;
    }
    .textsm {
        text-shadow: 0 0 5px rgba(75, 174, 156, 0.6);
        text-align: center;
        font-size: 14px;
    }
    .one {
        background-image: url(images/stone.svg);
    }
    
    .two {
        background-image: url(images/gut.svg);
    }
    
    .three {
        background-image: url(images/house.svg);
    }
    
    .four {
        background-image: url(images/roof.svg);
    }
    
    .five{
        background-image: url(images/window.svg);
        
    }
    
    .six {
        background-image: url(images/commercial.svg);
        
    }
    
    .seven {
        background-image: url(images/wall.svg);
    }
    .one:hover,.two:hover,.three:hover,.four:hover,.five:hover,.six:hover,.seven:hover {
        box-shadow: 0 0 10px #b2d8d8;
        background-color:#002121;
        
    }
    .services-lg{
        display:none;
    }

}
.visible {
    opacity: 1;
    transform: translateX(100px);
    transition: opacity 0.8s ease, transform 0.8s ease; /* Smooth transition */
}
.hidden {
    opacity: 0;
}   
@media (min-width:686px){
    .sm-services{
        display: none;
    }
    .services-sm{
        display:none;
    }
    .services-heading{
        font-weight: 0;
        font-size: 0rem;
        color: #b2d8d8;
        text-align: left; 
        padding:10px 20px;
    }
    .services-screen {
        padding: 20px;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
.all {
    display: flex;
    -webkit-perspective: 10px;
            perspective: 10px;
    -webkit-transform: perspective(300px) rotateX(20deg);
            transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    -webkit-perspective-origin: center center;
            perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.all:hover {
    -webkit-perspective: 1000px;
            perspective: 1000px;
    transition: all 1.3s ease-in;
    -webkit-transform: perspective(10000px) rotateX(0deg);
            transform: perspective(10000px) rotateX(0deg);
}
.all:hover .text {
    opacity: 1;
}
.all:hover > div {
    opacity: 1;
    transition-delay: 0s;
}
.all:hover .explainer {
    opacity: 0;
}

.leftermost, .lefter, .left, .center, .right, .righter, .rightermore {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #376e6e;
    box-shadow: 0 0 10px 0 #b2d8d8;
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:#005353;
    cursor: pointer;
   
}
.leftermost:hover, .lefter:hover, .left:hover, .center:hover, .right:hover, .righter:hover, .rightermore:hover {
    box-shadow: 0 0 10px #b2d8d8;
    background-color: #002121;
    
}
.text {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    text-shadow: 0 0 5px rgba(75, 174, 156, 0.6);
    text-align: center;
}

.leftermost {
    -webkit-transform: translateX(-90px) translateZ(-75px) rotateY(-15deg);
            transform: translateX(-90px) translateZ(-75px) rotateY(-15deg);
    background-image: url(images/stone.svg);
}

.lefter {
    -webkit-transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
            transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url(images/gut.svg);
}

.left {
    -webkit-transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
            transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url(images/house.svg);
}

.center {
    opacity: 1;
    background-image: url(images/roof.svg);
}

.right {
    -webkit-transform: translateX(30px) translateZ(-25px) rotateY(5deg);
            transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url(images/window.svg);
    
}

.righter {
    -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
            transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url(images/commercial.svg);
    
}

.rightermore {
    -webkit-transform: translateX(90px) translateZ(-75px) rotateY(15deg);
            transform: translateX(90px) translateZ(-75px) rotateY(15deg);
    background-image: url(images/wall.svg);
}

.explainer {
    font-weight: 300;
    color: #b2d8d8;
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-color:#002121;
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(75, 174, 156, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
}
@media (min-width:1081px){
    .leftermost, .lefter, .left, .center, .right, .righter, .rightermore{
        width: 150px;
        height: 150px;
        background-size: 100px 100px;
    }
    .text{
        font-size: 14px;
    }
    .explainer{
        font-size: 2rem;
    }
}
@media (max-width:1080px){
    .leftermost, .lefter, .left, .center, .right, .righter, .rightermore{
    width: 100px;
    height: 100px;
    background-size: 75px 75px;
    }
    .text{
        font-size: 12px;
    }
    .explainer{
        font-size: 1.5rem;
    }
}
@media (max-width:840px){
    .leftermost, .lefter, .left, .center, .right, .righter, .rightermore{
    width: 75px;
    height: 75px;
    background-size: 50px 50px;
    }
    .text{
        font-size: 10px;
    }
    .explainer{
        font-size: 1.0rem;
    }
}

.team{
    font-weight: 300;
    font-size: 2rem;
    color: #b2d8d8;     
}
.gallery-heading{
    font-weight: 300;
    font-size: 2rem;
    color: #b2d8d8;
    text-align: left; 
    padding:10px 20px;
}
.inputarea{
    background-color:#b2d8d8;
    padding:15px;
    border-radius: 5px;
    border: none;
    margin:10px 0px;
}

.mission-screen {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
@media(min-width:1000px){
    .mission-screen{
        padding: 60px;
    }
    .mission-text{
        max-width: 600px;
    }
}
@media (max-width:999px){
    .mission-screen{
        padding: 40px;
    }
    .mission-text{
        max-width: 500px;
    }
}
@media (max-width:850px){

    .mission-text{
        max-width: 400px;
    }
}
@media (min-width:741px){
    .mission-screen{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (max-width:740px){
    .mission-screen{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
    }
    .mission{
        margin-top: 24px;
    }
}
.mission {
    background-color: #66b2b2;
    animation: squareToCircle 2s 1s infinite alternate;
    color: #b2d8d8;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    text-align: center;
    width: 200px;
    height: 200px;
    font-size: 24px;
}
.mission-text{
    color:#b2d8d8; 
    line-height: 1.5;
    font-size: 18px;
}    

.mission h2 {
    font-size: 36px;
    margin-bottom: 20px;
}


@keyframes squareToCircle {
    0% {
        border-radius: 0 0 0 0;
        background: #008080;
        transform: rotate(0deg);
    }
    25% {
        border-radius: 50% 0 0 0;
        background: #007575;
        transform: rotate(45deg);
    }
    50% {
        border-radius: 50% 50% 0 0;
        background: #014a4a;
        transform: rotate(90deg);
    }
    75% {
        border-radius: 50% 50% 50% 0;
        background: #013939;
        transform: rotate(135deg);
    }
    100% {
        border-radius: 50% 50% 50% 50%;
        background: #022727;
        transform: rotate(180deg);
    }
}

.swatch {
    display: block;
    text-align: center;
    position: relative;
    
    div {
      width: 150px;
      height: 325px;
      position: absolute;
      top: 0px;
      border-radius: 5px;
      border-top: solid 2px rgba(0, 0, 0, .2);
      border-left: solid 3px rgba(255, 255, 255, .2);
      border-bottom: solid 3px rgba(0, 0, 0, .2);
      text-align: center;
      box-sizing: border-box;
      transform-origin: center 90%;
      display: inline-block;
      backface-visibility: hidden;
      margin-left: -35px;
      transform: rotate(var(--start-rotation));
      animation: swatch-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    }
    
    div:before {
      width: 16px;
      height: 16px;
      content: "";
      background-color: white;
      display: inline-block;
      border-radius: 8px;
      bottom: 10px;
      position: absolute;
      margin-left: -8px;
    }
    
    div:nth-child(1) {
      background-color: #013232;
      --start-rotation: -95deg;
    }
    div:nth-child(2) {
      background-color:#035b5b;
      --start-rotation: -58deg;
    }
    div:nth-child(3) {
      background-color: #014a4a;
      --start-rotation: -20deg;
    }
    div:nth-child(4) {
      background-color:#007575;
      --start-rotation: 20deg;
    }
    div:nth-child(5) {
      background-color: #008080;
      --start-rotation: 60deg;
    }
    div:nth-child(6) {
      background-color: #022727;
      --start-rotation: 95deg;
    }
  }
  
  @keyframes swatch-motion {
    0% {
      transform: rotate(var(--start-rotation));
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes swatch-reverse-motion {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(var(--start-rotation));
      }
    }
  
    .swatch:hover {
        animation: swatch-reverse-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
      }
      
      .swatch:hover div {
        animation: swatch-reverse-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
      }
      .swatch.reverse div {
        animation: swatch-reverse-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    }

    .team-screen {
        display: flex;
        padding:80px 20px;
        height: 100vh;

        
    }
    
    .contact-screen{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
      
      .content {
        display:flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80px;
        overflow: hidden;

        line-height: 40px;
      }
    
    @media (max-width: 540px){
        .content__container {
            overflow: hidden;
            height: 60px;
            padding: 0 2px;
            position: relative;
          }
    } 
    @media (max-width: 760px){
      .content__container {
        overflow: hidden;
        height: 60px;
        padding: 0 4px;
        position: relative;
      }
    }
    @media (min-width: 761px){
        .content__container {
          overflow: hidden;
          height: 60px;
          padding: 0 8px;
          position: relative;
        }
      }
      .content__container:before {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 40px;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
      
      .content__container:after {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 40px;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
      
      .content__container__text {
        display: inline;
        float: left;
        margin: 0;
      }
      
      .content__container__list {
        margin-top: 0;
        text-align: left;
        list-style: none;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;
      }
      
      .content__container__list__item {
        line-height: 40px;
        margin: 0;
      }
      
      @keyframes opacity {
        0%, 100% { opacity: 0; }
        50% { opacity: 1; }
      }
      
      @keyframes change {
        0%, 12.66%, 100% { transform: translate3d(0, 0, 0); }
        16.66%, 29.32% { transform: translate3d(0, -27%, 0); }
        33.32%, 45.98% { transform: translate3d(0, -53%, 0); }
        49.98%, 62.64% { transform: translate3d(0, -80%, 0); }
        66.64%, 79.3% { transform: translate3d(0, -53%, 0); }
        83.3%, 95.96% { transform: translate3d(0, -27%, 0); }
      }
   

.gallery-screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.carousel {
    width: 80%;
    overflow: hidden;
    display: flex;
    padding: 20px;
    grid-template-columns: repeat(9, 80%);
    gap: 0;
}

.carousel .carousel__item {
    flex: 0 0 80%; /* Each item takes 80% of the container width */
    margin: 0 10px;
    transform: translateX(0%) scale(0.9);
    border-radius: 5px;
    transition: all 0.7s ease;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    height: 400px; /* Adjust as needed */
    padding: 0; /* Remove padding to prevent overlap */
    background-size: cover; /* Cover ensures the image fills the container */
    background-position: center; /* Center image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    text-align: center; /* Center text horizontally */
    position: relative;
}

.carousel__item p {
    margin: 0;
    padding: 20px; /* Add padding around text */
    position: absolute; /* Position text absolutely within the item */
    bottom: 0; /* Align text to the bottom */
    left: 50%; /* Center text horizontally */
    transform: translateX(-50%); /* Adjust centering */
    color: white; /* Text color */
    font-size: 1.2em; /* Adjust font size as needed */
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Create the outline effect */
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .carousel .carousel__item {
        height: 300px; /* Reduce height on smaller screens */
    }

    .carousel__item p {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 768px) {
    .carousel .carousel__item {
        height: 250px; /* Further reduce height on mobile screens */
    }

    .carousel__item p {
        font-size: 0.9em; /* Adjust font size for mobile screens */
        padding: 15px; /* Reduce padding on mobile screens */
    }
}
  .bg-1 {
    background-image: url('images/carousel_1.jpg');
  }
  .bg-2 {
    background-image: url('images/carousel_2.jpeg');
  }
  .bg-3 {
    background-image: url('images/carousel_3.jpg');
  }
  .bg-4 {
    background-image: url('images/carousel_4.jpg');
  }
  .bg-5 {
    background-image: url('images/carousel_5.jpg');
  }
  .bg-6 {
    background-image: url('images/carousel_6.jpeg');
  }
  .bg-7 {
    background-image: url('images/carousel_7.jpg');
  }
  .bg-8 {
    background-image: url('images/carousel_8.jpg');
  }
  .bg-9 {
    background-image: url('images/carousel_9.jpg');
  }

.about-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
}
.text-box{
    background-image: url('images/logo-no-text.png');
    background-repeat: no-repeat;
    padding: 20px 30px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    background-size: cover;
    background-position: center;
    z-index: 1; /* Ensure the text content is above the pseudo-element */
    background-color: rgba(255, 255, 255, 0.4);
}
.text-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/logo-no-text.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    border-radius: 10px; /* Match the border-radius of .text-box */
    z-index: -1; /* Place the pseudo-element behind the .text-box content */
}

@media (max-width:850px){
    .text-box{
        width:75%;
    }
    .team-screen{
        flex-direction: column;
        align-items: center;
        gap:24px; 
    }
}
@media (min-width:851px){
    .text-box{
        width:50%;
    }
    .team-screen{
        flex-direction: row;
        justify-content: space-between; 
    }
    .swatch{
        margin-right:400px;
    }
}